<!DOCTYPE html>
<html>
	<head>
		<title>Schools</title>
		<div th:replace='_head'></div>
	</head>
	<body class='container'>
		<div class='row'>
			<div class='col-2'></div>
			<div class='col-8'>
				<div th:replace='_menu'></div>
				<form action='/schools' method='post' class='form-horizontal'>
					<div class='row'>
						<div class='col-10'>
							<input type='text' name='name' required placeholder='Pavadinimas' class='form-control' autofocus="autofocus">
							<input type='number' name='code' required placeholder='Kodas' class='form-control'>
							<input type='text' name='address' required placeholder='Adresas' class='form-control'>
						</div>
						<div class='col-2'>
							<input type='submit' value='Pridėti' class='btn btn-primary'>
						</div>
					</div>
					<input type='hidden' name='_csrf' th:value='${_csrf.token}'>
				</form>
				<h3>Schools</h3>
				<table>
					<tr>
						<th>Pavadinimas</th>
						<th>Kodas</th>
						<th>Adresas</th>
						<th>Veiksmai</th>
					</tr>
					<tr class='irasas' th:each='school : ${schools}'>
						<td th:text='${school.getName()}'></td>
						<td th:text='${school.getCode()}'></td>
						<td th:text='${school.getAddress()}'></td>
						<td>
							<a href='/schools/delete' th:data-id='${school.getId()}' th:data-token='${_csrf.token}' class='trinti'>Trinti</a>
						</td>
					</tr>
				</table>
			<div class='col-2'></div>
		</div>
	</body>
</html>